<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
version="3.1">
  <display-name>libretaDigital</display-name>
  <welcome-file-list>    
    <welcome-file>index.jsp</welcome-file> 
  </welcome-file-list>
  
  <servlet>
        <servlet-name>libretaDigital</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
    
    
<!--     MAPEO DE MENU -->
    <servlet-mapping>
        <servlet-name>libretaDigital</servlet-name>        
     	<url-pattern>/home.jsp</url-pattern>
		<url-pattern>/fileUpload.jsp</url-pattern>
		<url-pattern>/assistControl.jsp</url-pattern>
		<url-pattern>/studentsDay.jsp</url-pattern>
        <url-pattern>/welcome.jsp</url-pattern>
    </servlet-mapping>    
    
<!--     MAPEO DE CARGA MASIVA -->
    <servlet-mapping>
        <servlet-name>libretaDigital</servlet-name>       
    		<url-pattern>/fileUpload/upload</url-pattern>
    </servlet-mapping>
    
    <!--     MAPEO DE CONTROL DE ASISTENCIAS -->
    <servlet-mapping>
        <servlet-name>libretaDigital</servlet-name>       
<!--     		<url-pattern>/assistControl/saveAbsences</url-pattern> -->
    		<url-pattern>/assistControl/studentsAbsences</url-pattern>
    </servlet-mapping>
    
     <!--     MAPEO DE FICHA DE ESTUDIANTE -->
    <servlet-mapping>
        <servlet-name>libretaDigital</servlet-name>       
    		<url-pattern>/main/saveEvent</url-pattern>  
<!--     		<url-pattern>/main/deleteEvent</url-pattern>   		 -->
    </servlet-mapping>
     
</web-app>
