/* PAGINA */
.container {
	margin-top: 5em;
	width: 98%;
}

/* FILE UPLOAD ANGULAR */
.my-drop-zone {
	border: dotted 5px lightgray;
	height: 100%
}

.drop-zone {
	height: 200px;
}

.btn-dropzone {
	margin-top: 10px;
}

.well {
	padding: 9px 19px 9px 19px;
}

.panel-heading h1 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: normal;
	width: 70%;
	padding-top: 8px;
}

/* CONTROL DE ASISTENCIAS*/
#btn-save {
	float: right;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 20px;
}

#absences-list {
	margin-top: 20px;	
}

.media-user{
	border-radius: 30px;
}

.media-user-list{
	border-radius: 30px;
	width: 30px;
	margin-right: 10px;
	display: inline;
}

.pc-percent {
	font-size: 1.5em;
}

#late-icon {
	color: red;
	font-size: 20px;
}

#btn-late {
	font-size: 20px;
}

.btn-move {
	font-size: 20px;
	width: 100%;
	margin-bottom: 20px;
}

.date-small {
	float: right;
	font-size: 100%;
}

.btn-lista {
	/* 	float: right; */
	/* 	margin-top: 5px !important; */
	
}

.title-lista {
	font-size: 1.6em;
}
/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
ul[dnd-list], ul[dnd-list]>li {
	position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop into it once it's empty
 */
ul[dnd-list] {
	min-height: 42px;
	padding-left: 0px;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
ul[dnd-list] .dndPlaceholder {
	display: block;
	background-color: #fbfe7a;
	min-height: 42px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
ul[dnd-list] li {
	background-color: #fff;
	border: 1px solid #ddd;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
}

/**
 * Show selected elements in green
 */
ul[dnd-list] li.selected {
	background-color: #a5ef8566;
	color: #000000;
	font-size: 1.13em;
	font-weight: bold;
	border: 2px solid #a6e789;
}

/* CALENDAR */
.btn-calendar {
	font-size: 3em;
}

.calendar-container {
	width: 95%;
}

#cal-week-box {
	font-size: 0.5em !important;
}

.cal-day-today {
	font-size: 2em !important;
}

.cal-month-day {
	font-size: 2em;
}

.cal-year-box [class*="span"] {
	font-size: 1.5em;
}

span[data-cal-date]:hover {
	cursor: pointer;
}