

/* PAGINA */









/* FILE UPLOAD ANGULAR */
.my-drop-zone {
	border: dotted 5px lightgray;
	height: 100%
}
.drop-zone{
	height: 200px;
}
.btn-dropzone {
    margin-top: 10px;
}
.well{
	padding: 9px 19px 9px 19px;
}
