<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<import resource="classpath:hibernate-config.xml" />
	<import resource="classpath:dal-config.xml" />
	<import resource="classpath:file-import-config.xml" />
	<import resource="classpath:assist-control-config.xml" />
	<import resource="classpath:students-day-config.xml" />

	<context:property-placeholder
		location="classpath:database.properties, classpath:uploader.properties"
		ignore-unresolvable="true" />

	<bean name="genericDAO" class="com.libretaDigital.hibernate.GenericDAO">
		<property name="sessionFactory" ref="hibernateSessionFactory" />
	</bean>

	<bean id="professorDAO" class="com.libretaDigital.DAO.ProfessorDAO"
		parent="genericDAO" />
		
	<bean id="roleDAO" class="com.libretaDigital.DAO.RoleDAO"
		parent="genericDAO" />

	<bean id="userDAO" class="com.libretaDigital.DAO.UserDAO" parent="genericDAO">
		<property name="roleDAO" ref="roleDAO" />
		<property name="groupDAO" ref="groupDAO" />
		<property name="subjectDAO" ref="subjectDAO" />
	</bean>

	<bean id="studentDAO" class="com.libretaDigital.DAO.StudentDAO"
		parent="genericDAO" />

	<bean id="groupDAO" class="com.libretaDigital.DAO.GroupDAO"
		parent="genericDAO" />

	<bean id="courseDAO" class="com.libretaDigital.DAO.CourseDAO"
		parent="genericDAO" />

	<bean id="classDayStudentDAO" class="com.libretaDigital.DAO.ClassDayStudentDAO"
		parent="genericDAO" />
	
	<bean id="subjectDAO" class="com.libretaDigital.DAO.SubjectDAO" parent="genericDAO" >
		<property name="notebookDAO" ref="notebookDAO" />
	</bean>
		
	<bean id="notebookDAO" class="com.libretaDigital.DAO.NotebookDAO" parent="genericDAO" >
		<property name="subjectDAO" ref="subjectDAO" />
	</bean>

	<bean id="md5Encoder"
		class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" />

	<bean id="professorService" class="com.libretaDigital.services.ProfessorServiceImpl">
		<property name="professorDAO" ref="professorDAO" />
		<property name="encoder" ref="md5Encoder" />
	</bean>

	<bean id="studentService" class="com.libretaDigital.services.StudentServiceImpl">
		<property name="studentDAO" ref="studentDAO" />
		<property name="classDayStudentDAO" ref="classDayStudentDAO" />
		<property name="encoder" ref="md5Encoder" />
	</bean>

	<bean id="groupService" class="com.libretaDigital.services.GroupServiceImpl">
		<property name="groupDAO" ref="groupDAO" />
		<property name="encoder" ref="md5Encoder" />
	</bean>

	<util:list id="libretadigital.mapping.resources">
		<value>hbm/ClassDayProfessor.hbm.xml</value>
		<value>hbm/ClassDayStudent.hbm.xml</value>
		<value>hbm/Course.hbm.xml</value>
		<value>hbm/Group.hbm.xml</value>
		<value>hbm/Institution.hbm.xml</value>
		<value>hbm/Notebook.hbm.xml</value>
		<value>hbm/Period.hbm.xml</value>
		<value>hbm/Professor.hbm.xml</value>
		<value>hbm/Student.hbm.xml</value>
		<value>hbm/Subject.hbm.xml</value>
	</util:list>

</beans>